@import 'helpers';

.button-add {
  background: $button;
  border: 0;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid $button-shadow;
  box-shadow: 0 5px 0 0 $button-shadow;
  clear: both;
  color: $light;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 40px;
  margin: 10px -10px -7px;
  outline: none;
  padding: 5px 10px;
  text-shadow: 0 1px $button-shadow;
  width: 325px;
}

.select {
  background: $light;
  border-radius: 5px;
  clear: both;
  display: none;
  margin: 20px auto 5%;
  padding: 10px;
  position: relative;
  width: 305px;
}

.color-new {
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  float: left;
  height: 80px;
  margin: 10px 20px 20px 10px;
  width: 80px;

}

.select-slider {
  margin: 8px 0;
  vertical-align: middle;
}

.select-label {
  color: $dark;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px 0 0;
  width: 35px;
}

.select-input {
  position: relative;
  top: 2px;
}