@import 'helpers';

body {
  @include gradient($primary, $secondary, 'horizontal');
  font-family: sans-serif;
  max-width: 100%;
}

.overlay {
  display: none;

  @media screen and (max-width: 850px) {
    align-items: center;
    background: rgba($secondary, .8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .mobile-info {
      align-self: center;
      color: $light;
      font-size: 36px;
      max-width: 90%;
      text-align: center;
    }
  }
}

.drawing-area {
  background: $light;
  border-radius: 5px;
  box-shadow: 7px 7px 10px 0 $shadow;
  cursor: crosshair;
  display: block;
  margin: 50px auto 10px;
}

.controls {
  display: none;

  @media screen and (min-width: 850px) {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    min-height: 60px;
    overflow: hidden;
    width: 600px;
  }
}

.colors-list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 10px 0 20px;
  text-align: center;
  width: 100%;
}

.color-element,
.color-new {
  border: 0;
  border-radius: 60px;
  box-shadow: 3px 3px 0 0 $shadow;
  cursor: pointer;
  display: block;
  height: 54px;
  width: 54px;
}

.color-element {
  display: inline-block;
  margin: 0 5px 10px;
}

.color {
  @for $i from 1 to 5 {
    &:nth-child(#{$i}) {
      background-color: nth($colors, $i);
    }
  }
}

.control {
  box-shadow: none;
  height: 54px;
  width: 54px;

  &-add {
    background: url('../img/add.svg') no-repeat center;
    background-size: contain;
  }
}

.selected {
  border: 4px solid $light;
  height: 46px;
  width: 46px;
}

.wrap {
  display: none;

  @media screen and (min-width: 850px) {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 710px;
  }
}

// Tooltips - clear and save

.tooltip {
  color: $light;
  opacity: 0;
  text-decoration: none;
}

.tooltip-download {
  bottom: 10px;
  position: absolute;
  right: -42px;
}

.tooltip-clear {
  bottom: 48px;
  position: absolute;
  right: -42px;
}

.button {
  border: 0;
  height: 35px;
  opacity: .3;
  width: 35px;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.button-clear {
  background: url('../img/clear.svg') no-repeat;
  background-size: contain;
  border: 0;
  bottom: 40px;
  position: absolute;
  right: 0;
}

.button-download {
  background: url('../img/save.svg') no-repeat;
  background-size: contain;
  bottom: 0;
  position: absolute;
  right: 0;
}

// Show tooltips on hover

.save:hover .tooltip-download {
  opacity: 1;
}

.clear:hover .tooltip-clear {
  opacity: 1;
}
